@import '../../app.scss';

.home {
  align-items: center;
  display: flex;
  height: calc(100vh - var(--mobileHeaderHt));
  text-align: center;

  @media (min-width: 1030px) {
    height: calc(100vh - var(--desktopHeaderHt));
  }

  .container {
    padding: 1.5rem;
  }

  p {
    margin: 2rem 0;

    @media (min-width: 1030px) {
      font-size: 22px;
    }
  }

  h1 {
    font-size: 2em;

    @media (min-width: 1030px) {
      font-size: 4em;
    }

    span {
      color: $pink;
    }
  }
}